body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', monospace;
    font-size: 20px;
}

.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #cc00ff; /* neon lilla */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
}

a.button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #cc00ff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #cc00ff;
    transition: 0.3s;
    font-size: 22px;
}

a.button:hover {
    background-color: transparent;
    color: #cc00ff;
}
